<div class="resv-auth">
  <h3 class="resv-auth__title">Änderung nicht möglich</h3>

  <div class="resv-inline-notice resv-inline-notice--err" style="text-align:left;">
    Änderungen sind online nur bis <b>3 Tage</b> vor dem Reservierungsdatum möglich.
    Bitte rufen Sie das Restaurant an.
  </div>

  <div class="form-actions resv-auth__actions" style="margin-top:18px;">
    <button type="button" class="kontakt-card__btn kontakt-card__btn--outline" data-back-to-list>
      ← Zurück
    </button>
  </div>
</div>
